<!DOCTYPE HTML>
<html>
    <head>
        <title>Universal Password Manager - {{ page.title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.3.0/build/cssfonts/fonts-min.css&3.3.0/build/cssreset/reset-min.css&3.3.0/build/cssgrids/grids-min.css&3.3.0/build/cssbase/base-min.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, projection">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1107504-6']);
            _gaq.push(['_trackPageview']);

           (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
        </script>
      </head>
    <body>
        <a href="http://github.com/adrian"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets1.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=" alt="Fork me on GitHub"></a>

        <div id="container">
            <div id="header">
                <h1>Universal Password Manager - {{ page.title }}</h1>
                <hr>
            </div>

            <div id="navigation">
                <a href="index.html">Home</a> -
                <a href="http://sourceforge.net/projects/upm/">UPM on Sourceforge</a> -
                <a href="userguide.html">User Guide</a> -
                <a href="screenshots.html">Screenshots</a> -
                <a href="http://sourceforge.net/project/showfiles.php?group_id=154394">Download</a> -
                <a href="http://sourceforge.net/projects/upm/support">Support</a>
            </div>

            <div id="content">
                {{ content }}
            </div>

            {% include ad_banner.html %}

            <div id="footer">
                <hr>
                <a href="http://sourceforge.net/projects/upm"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=154394&amp;type=12" width="120" height="30" alt="Get Universal Password Manager at SourceForge.net. Fast, secure and Free Open Source software downloads" /></a>
                <a href="http://sourceforge.net/donate/index.php?group_id=154394"><img src="http://images.sourceforge.net/images/project-support.jpg" width="88" height="32" border="0" alt="Support This Project" /> </a>
            </div>
        </div>
    </body>
</html>

