svnant.home=
cobertura.dir=

# JUnit Properties
junit.http.username=
junit.http.password=
junit.http.upload.url=http://127.0.0.1/upm/upload.php
junit.http.delete.url=http://127.0.0.1/upm/deletefile.php

