#Universal Password Manager Preferences
#Tue Jan 03 17:21:19 GMT 2006

# General Application Settings
DBToLoadOnStartup=

# HTTP Transport Settings
http.proxy.host=
http.proxy.port=
http.upload.url=

