[Desktop Entry]
Name=UPM
GenericName=Universal Password Manager
Version=1.0
Comment=Universal Password Manager
Exec=/usr/share/upm/upm.jar
Path=/usr/share/upm/
Terminal=false
Type=Application
Icon=upm
Categories=Utility
