#custom-doc { 
    width: 80%;
    min-width: 250px;
}

h1 {
    text-align: center;
}

hr {
    color:#ddd;
    height:.1em;
    border:none;
    background:#ddd;
    margin:0 0 1.45em;
    clear:both;
    float:none;
    width:100%;
}

.menu {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1.45em;
}

ul li {
    padding-bottom: 0.5em;
}

td {
    border: 0;
}

.screenshot {
    padding-bottom: 2em;
}
