#container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#header {
    text-align: center;
}

#navigation {
    text-align: center;
    margin-bottom: 2em;
}

hr {
    color:#ddd;
    height:.1em;
    border:none;
    background:#ddd;
    margin:0 0 1.45em;
    clear:both;
    float:none;
    width:100%;
}

.icon {
    vertical-align: middle;
    border-radius: 15px;
    border: 1px solid lightgrey;
    -moz-border-radius: 15px;
    padding: 5px;
}

.icon:hover {
    border-color: blue;
}

table td {
    border: 0;
}

.screenshot {
    padding-bottom: 2em;
}

ul li {
    padding-bottom: 0.5em;
}

